* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


html {
    font-size: 59.28%;
    font-family: 'DM Sans', sans-serif;
}



.container {
    width: 118rem;
    margin: 0 auto;
}


#topNavBar {
    width: 100%;
    padding: 2rem 0;

    .wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .left {
            a {
                font-size: 2.4rem;
                font-weight: 700;
                color: rgba(235, 87, 87, 1);
                text-decoration: none;
                transition: .3s;
                -webkit-transition: .3s;
                -moz-transition: .3s;
                -ms-transition: .3s;
                -o-transition: .3s;
            }
        }


        .right {
            a {
                padding: 1rem 5rem;
                border-radius: .6rem;
                -webkit-border-radius: .6rem;
                -moz-border-radius: .6rem;
                -ms-border-radius: .6rem;
                -o-border-radius: .6rem;
                text-decoration: none;
                font-size: 1.6rem;
                transition: .3s;
                -webkit-transition: .3s;
                -moz-transition: .3s;
                -ms-transition: .3s;
                -o-transition: .3s;
                font-weight: 600;

            }

            .login {
                border: .2rem solid rgba(235, 87, 87, 1);
                background-color: rgba(235, 87, 87, 0);
                color: rgba(235, 87, 87, 1);
                margin-right: 1.5rem;

                &:hover {
                    background-color: rgba(235, 87, 87, 1);
                    color: rgb(255, 255, 255);

                }
            }

            .registration {
                border: .2rem solid rgba(235, 87, 87, 1);
                background-color: rgba(235, 87, 87, 1);
                color: rgba(235, 87, 87, 1);
                color: rgb(255, 255, 255);

                &:hover {
                    background-color: rgb(207, 61, 61);

                }
            }
        }
    }
}






#heroArea {
    background-color: #121212;
    color: white;
    padding: 7rem 0;
    

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        h1{
            font-size: 4rem;
            margin-bottom: 2rem;
        }

        h2{
            font-weight: 500;
            font-size: 2.2rem;
        }

      
    }
}


#answerSheerArea {
    padding: 10rem;
    background-color: #121212;



    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .submitButton {
            margin-top: 3rem;
            outline: none;
            border: none;
            padding: 1.5rem 6rem;
            border-radius: .6rem;
            -webkit-border-radius: .6rem;
            -moz-border-radius: .6rem;
            -ms-border-radius: .6rem;
            -o-border-radius: .6rem;
            text-decoration: none;
            font-size: 1.8rem;
            transition: .3s;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
            font-weight: 600;
            color: rgba(235, 87, 87, 1);
            cursor: pointer;
            background-color: rgba(235, 87, 87, 0);
            border: .2rem solid rgba(235, 87, 87, 1);

            &:hover {
                background-color: rgb(207, 61, 61);
                color: rgb(255, 255, 255);

            }
        }



        .singleBox {
            width: 70%;
            padding: 5rem;
            box-shadow: 0 1rem 25px rgba(0, 0, 0, 0.05);
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
            margin-bottom: 3rem;
            background-color: #fff;


            .question {
                font-size: 1.8rem;
                color: #181919;
                margin-bottom: 4.4rem;
            }

            .optionArea {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                input {
                    display: none;
                }

                .singleOption {
                    width: 50%;


                    label {
                        display: flex;
                        align-items: center;
                        margin-bottom: 2rem;
                        cursor: pointer;

                        .pointer {
                            width: 1.3rem;
                            height: 1.3rem;
                            background-color: rgba(0, 0, 0, 0);
                            display: block;
                            border-radius: 100%;
                            -webkit-border-radius: 100%;
                            -moz-border-radius: 100%;
                            -ms-border-radius: 100%;
                            -o-border-radius: 100%;
                            border: .2rem solid #000;
                            margin-right: 1rem;
                            transition: .3s;
                            -webkit-transition: .3s;
                            -moz-transition: .3s;
                            -ms-transition: .3s;
                            -o-transition: .3s;
                        }

                        p{
                            font-size: 1.6rem;
                            font-weight: 400;
                            color: rgb(0, 0, 0);
                        }
                    }
                }

                input[type="radio"]:checked+label {
                    .pointer {
                        background-color: #000;
                    }
                }
            }
        }


    }
}


.submisstionPage{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    background-color: #121212;
    color: rgb(255, 255, 255);

}



footer {
    background-color: rgba(241, 241, 241, 1);
    text-align: center;
    padding: 2.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    border-top: .1rem solid rgba(73, 73, 73, 0.1);
}